@using EntityLayer.Concrete
@model IEnumerable<EntityLayer.Concrete.About>
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
<br />
<br />
<br />
<br />
<div class="mkd-content">
    <div class="mkd-content-inner">
        <div class="mkd-full-width">
            <div class="mkd-full-width-inner">
                <div class="mkd-grid-row">
                    <div class="mkd-page-content-holder h-100 mkd-grid-col-12">
                        <div style="width:100%; height:125%;" data-parallax-bg-image="/Images/Slider/slider.jpg" data-parallax-bg-speed="1.5" class="vc_row wpb_row vc_row-fluid vc_custom_1512375951932 mkd-parallax-row-holder" style="background-image: url(&quot;/Images/Slider/slider.jpg;); background-position: 50% 42px;">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-5 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="mkd-elements-holder   mkd-one-column  mkd-responsive-mode-768 ">
                                            <div class="mkd-eh-item    " data-item-class="mkd-eh-custom-9382" data-1280-1600="53px 19% 89px 11%" data-1024-1280="0px 4% 31px 16%" data-768-1024="38px 0% 56px 24.5% " data-680-768="1px 37% 0px 10% " data-680="0px 1% 0px 4.5% ">
                                                <div class="mkd-eh-item-inner">
                                                    <div class="mkd-eh-item-content mkd-eh-custom-9382" style="padding: 54px 10% 88px 39%">
                                                        <div class="mkd-section-title-holder  mkd-st-standard mkd-st-title-left mkd-st-normal-space mkd-st-disable-title-break">
                                                            <div class="mkd-st-inner">
                                                                <h1 class="mkd-st-title" style="color: #ffffff">
                                                                    Hakkımızda
                                                                </h1>
                                                                <p class="mkd-st-text" style="color: #ffffff;font-size: 21px;line-height: 36px;margin-top: 24px">
                                                                    @*Lorem ipsum dolor sit amet consectetur adipisicing elit*@
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mkd-row-grid-section-wrapper " style="background-color:#ffffff">
                            <div class="mkd-row-grid-section">
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="mkd-elements-holder   mkd-one-column  mkd-responsive-mode-768 ">
                                                    <div class="mkd-eh-item    " data-item-class="mkd-eh-custom-2057" data-768-1024="132px 0 0 0 " data-680-768="132px 19% 0 0" data-680="114px 0 0 0 ">
                                                        <div class="mkd-eh-item-inner">
                                                            <div class="mkd-eh-item-content mkd-eh-custom-2057" style="padding: 139px 0 0 0">
                                                                <div class="mkd-section-title-holder  mkd-st-standard mkd-st-title-left mkd-st-normal-space mkd-st-disable-title-break" style="text-align: left">
                                                                    <div class="mkd-st-inner">
                                                                        @foreach (var item in Model)
                                                                        {
                                                                            <h3 class="mkd-st-title" style="color: #1b1b1b">
                                                                                @item.Title
                                                                            </h3>
                                                                            <p class="mkd-st-text" style="line-height: 30px;margin-top: 30px">
                                                                                @item.Description
                                                                            </p>
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="mkd-elements-holder   mkd-one-column  mkd-responsive-mode-768 ">
                                                    <div class="mkd-eh-item    " data-item-class="mkd-eh-custom-4265" data-768-1024="70px 0 150px 0" data-680-768="70px 0 150px 0" data-680="70px 0 130px 0">
                                                        <div class="mkd-eh-item-inner">
                                                            <div class="mkd-eh-item-content mkd-eh-custom-4265" style="padding: 150px 0 150px 0">
                                                                <div class="mkd-tabs  mkd-tabs-standard">
                                                                    <ul class="mkd-tabs-nav clearfix">
                                                                        <li>
                                                                            <a href="#tab-references">Tarihçe</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#tab-objective">Misyon</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#tab-standards">Vizyon</a>
                                                                        </li>
                                                                    </ul>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                        <div class="mkd-tab-container" id="tab-references-888">
                                                                            <div class="wpb_text_column wpb_content_element ">
                                                                                <div class="wpb_wrapper">
                                                                                    <p>@item.Description2</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="mkd-tab-container" id="tab-objective-232">
                                                                            <div class="wpb_text_column wpb_content_element ">
                                                                                <div class="wpb_wrapper">
                                                                                    <p>@item.Description3</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="mkd-tab-container" id="tab-standards-162">
                                                                            <div class="wpb_text_column wpb_content_element ">
                                                                                <div class="wpb_wrapper">
                                                                                    <p>@item.Description4</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex mkd-content-aligment-center">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-md-offset-0 vc_col-sm-offset-0 vc_col-xs-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <a itemprop="url" href="/Default/Contact" target="_self" class="mkd-btn mkd-btn-full-width mkd-btn-solid">
                                            <span class="mkd-btn-text" style="font-size: 60px;font-family: Oswald;letter-spacing: 0;height: 200px">Bize Ulaş!</span>
                                            <span class="mkd-btn-icon"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

