
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="mkd-elements-holder   mkd-two-columns  mkd-responsive-mode-768 ">
                    <div class="mkd-eh-item" style="background-image: url(@ViewBag.bImage)" data-item-class="mkd-eh-custom-6411" data-680-768="50% 0" data-680="50% 0">
                        <div class="mkd-eh-item-inner">
                            <div class="mkd-eh-item-content mkd-eh-custom-6411" style="padding: 30% 0">
                            </div>
                        </div>
                    </div><div class="mkd-eh-item   mkd-horizontal-alignment-center " style="background-color: #24272a" data-item-class="mkd-eh-custom-8192" data-1280-1600="21% 11% 25% 11%" data-1024-1280="20% 7% 25%" data-768-1024="20% 7% 26% 7%" data-680-768="20% 15% 0" data-680="36% 5%">
                        <div class="mkd-eh-item-inner">
                            <div class="mkd-eh-item-content mkd-eh-custom-8192" style="padding: 23% 21%">
                                <div class="mkd-section-title-holder  mkd-st-standard mkd-st-title-left mkd-st-normal-space mkd-st-disable-title-break" style="text-align: center">
                                    <div class="mkd-st-inner">
                                        <h2 class="mkd-st-title" style="color: #ffffff">
                                            @ViewBag.bTitle
                                        </h2>
                                        <p class="mkd-st-text" style="margin-top: 35px">
                                            @ViewBag.bDesc.Substring(0, ViewBag.bDesc.Substring(0, 200).LastIndexOf(" "))...
                                        </p>
                                    </div>
                                </div><div class="vc_empty_space" style="height: 56px"><span class="vc_empty_space_inner"></span></div><a itemprop="url" href="/Default/BlogDetail/@ViewBag.bId" target="_self" class="mkd-btn mkd-btn-medium mkd-btn-solid mkd-btn-icon">
                                    <span class="mkd-btn-text">Daha fazla</span>
                                    <span class="mkd-btn-icon"><i class="mkd-icon-font-awesome fa fa-long-arrow-right "></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="mkd-elements-holder   mkd-two-columns  mkd-responsive-mode-768 ">
                    <div class="mkd-eh-item   mkd-horizontal-alignment-center " style="background-color: #24272a" data-item-class="mkd-eh-custom-4565" data-1280-1600="21% 11% 25% 11%" data-1024-1280="20% 7% 25%" data-768-1024="20% 7% 26% 7%" data-680-768="20% 15%" data-680="0 5% 43%">
                        <div class="mkd-eh-item-inner">
                            <div class="mkd-eh-item-content mkd-eh-custom-4565" style="padding: 23% 21%">
                                <div class="mkd-section-title-holder  mkd-st-standard mkd-st-title-left mkd-st-normal-space mkd-st-disable-title-break" style="text-align: center">
                                    <div class="mkd-st-inner">
                                        <h2 class="mkd-st-title" style="color: #ffffff">
                                            @ViewBag.bTitle2
                                        </h2>
                                        <p class="mkd-st-text" style="margin-top: 35px">
                                            @ViewBag.bDesc2.Substring(0, ViewBag.bDesc2.Substring(0, 200).LastIndexOf(" "))...
                                        </p>
                                    </div>
                                </div><div class="vc_empty_space" style="height: 56px"><span class="vc_empty_space_inner"></span></div><a itemprop="url" href="/Default/BlogDetail/@ViewBag.bId2" target="_self" class="mkd-btn mkd-btn-medium mkd-btn-solid mkd-btn-icon">
                                    <span class="mkd-btn-text">Daha fazla</span>
                                    <span class="mkd-btn-icon"><i class="mkd-icon-font-awesome fa fa-long-arrow-right "></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mkd-eh-item    " style="background-image: url(@ViewBag.bImage2)" data-item-class="mkd-eh-custom-3883" data-680-768="50% 0" data-680="50% 0">
                        <div class="mkd-eh-item-inner">
                            <div class="mkd-eh-item-content mkd-eh-custom-3883" style="padding: 30% 0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>