<div class="vc_row wpb_row vc_row-fluid vc_custom_1511958592064">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="mkd-portfolio-list-holder mkd-pl-masonry mkd-no-space mkd-pl-four-columns  mkd-pl-gallery-overlay mkd-pl-images-fixed   mkd-pl-pag-no-pagination     " data-type=masonry data-number-of-columns=4 data-space-between-items=no data-number-of-items=5 data-image-proportions=full data-enable-fixed-proportions=yes data-enable-image-shadow=no data-category=steel data-orderby=date data-order=ASC data-item-style=gallery-overlay data-enable-title=yes data-title-tag=h3 data-enable-category=yes data-enable-count-images=yes data-enable-excerpt=no data-excerpt-length=20 data-pagination-type=no-pagination data-filter=no data-filter-order-by=name data-enable-article-animation=no data-portfolio-slider-on=no data-enable-loop=yes data-enable-autoplay=yes data-slider-speed=5000 data-slider-speed-animation=600 data-enable-navigation=yes data-enable-pagination=yes data-max-num-pages=1 data-next-page=2>
                    <div class="mkd-pl-inner mkd-outer-space clearfix">
                        <div class="mkd-pl-grid-sizer"></div>
                        <div class="mkd-pl-grid-gutter"></div>
                        <article class="mkd-pl-item mkd-item-space mkd-pl-masonry-large-width-height post-2190 portfolio-item type-portfolio-item status-publish has-post-thumbnail hentry portfolio-category-steel portfolio-tag-industry portfolio-tag-materials">
                            <div class="mkd-pl-item-inner">
                                <div class="mkd-pli-image">
                                    <img width="1100" height="1100" src="@ViewBag.pImage" class="attachment-baumeister_mikado_huge size-baumeister_mikado_huge wp-post-image" alt="j" sizes="(max-width: 1100px) 100vw, 1100px" />
                                </div>
                                <div class="mkd-pli-text-holder">
                                    <div class="mkd-pli-text-wrapper">
                                        <div class="mkd-pli-text">
                                            <h3 itemprop="name" class="mkd-pli-title entry-title">
                                                @ViewBag.pTitle
                                            </h3>
                                            <div class="mkd-pli-category-holder">
                                                <a itemprop="url" class="mkd-pli-category" href="/Default/ProductDetail/@ViewBag.pId">@ViewBag.pCategory</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a itemprop="url" class="mkd-pli-link mkd-block-drag-link" href="/Default/ProductDetail/@ViewBag.pId" target="_self"></a>
                            </div>
                        </article>
                        <article class="mkd-pl-item mkd-item-space mkd-pl-masonry-default post-2197 portfolio-item type-portfolio-item status-publish has-post-thumbnail hentry portfolio-category-steel portfolio-tag-industry portfolio-tag-materials">
                            <div class="mkd-pl-item-inner">
                                <div class="mkd-pli-image">
                                    <img width="550" height="550" src="@ViewBag.pImage2" class="attachment-baumeister_mikado_square size-baumeister_mikado_square wp-post-image" alt="s" loading="lazy" sizes="(max-width: 550px) 100vw, 550px" />
                                </div>
                                <div class="mkd-pli-text-holder">
                                    <div class="mkd-pli-text-wrapper">
                                        <div class="mkd-pli-text">
                                            <h3 itemprop="name" class="mkd-pli-title entry-title">
                                                @ViewBag.pTitle2
                                            </h3>
                                            <div class="mkd-pli-category-holder">
                                                <a itemprop="url" class="mkd-pli-category" href="/Default/ProductDetail/@ViewBag.pId2">@ViewBag.pCategory2</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a itemprop="url" class="mkd-pli-link mkd-block-drag-link" href="/Default/ProductDetail/@ViewBag.pId2" target="_self"></a>
                            </div>
                        </article>

                        <article class="mkd-pl-item mkd-item-space mkd-pl-masonry-default post-2197 portfolio-item type-portfolio-item status-publish has-post-thumbnail hentry portfolio-category-steel portfolio-tag-industry portfolio-tag-materials">
                            <div class="mkd-pl-item-inner">
                                <div class="mkd-pli-image">
                                    <img width="550" height="550" src="@ViewBag.pImage4" class="attachment-baumeister_mikado_square size-baumeister_mikado_square wp-post-image" alt="s" loading="lazy" sizes="(max-width: 550px) 100vw, 550px" />
                                </div>
                                <div class="mkd-pli-text-holder">
                                    <div class="mkd-pli-text-wrapper">
                                        <div class="mkd-pli-text">
                                            <h3 itemprop="name" class="mkd-pli-title entry-title">
                                                @ViewBag.pTitle4
                                            </h3>
                                            <div class="mkd-pli-category-holder">
                                                <a itemprop="url" class="mkd-pli-category" href="/Default/ProductDetail/@ViewBag.pId4">@ViewBag.pCategory4</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a itemprop="url" class="mkd-pli-link mkd-block-drag-link" href="/Default/ProductDetail/@ViewBag.pId4" target="_self"></a>
                            </div>
                        </article>
                        <article class="mkd-pl-item mkd-item-space mkd-pl-masonry-default post-2197 portfolio-item type-portfolio-item status-publish has-post-thumbnail hentry portfolio-category-steel portfolio-tag-industry portfolio-tag-materials">
                            <div class="mkd-pl-item-inner">
                                <div class="mkd-pli-image">
                                    <img width="550" height="550" src="@ViewBag.pImage5" class="attachment-baumeister_mikado_square size-baumeister_mikado_square wp-post-image" alt="s" loading="lazy" sizes="(max-width: 550px) 100vw, 550px" />
                                </div>
                                <div class="mkd-pli-text-holder">
                                    <div class="mkd-pli-text-wrapper">
                                        <div class="mkd-pli-text">
                                            <h3 itemprop="name" class="mkd-pli-title entry-title">
                                                @ViewBag.pTitle5
                                            </h3>
                                            <div class="mkd-pli-category-holder">
                                                <a itemprop="url" class="mkd-pli-category" href="/Default/ProductDetail/@ViewBag.pId5">@ViewBag.pCategory5</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a itemprop="url" class="mkd-pli-link mkd-block-drag-link" href=">/Default/ProductDetail/@ViewBag.pId5" target="_self"></a>
                            </div>
                        </article>
                        <article class="mkd-pl-item mkd-item-space mkd-pl-masonry-default post-2197 portfolio-item type-portfolio-item status-publish has-post-thumbnail hentry portfolio-category-steel portfolio-tag-industry portfolio-tag-materials">
                            <div class="mkd-pl-item-inner">
                                <div class="mkd-pli-image">
                                    <img width="550" height="550" src="@ViewBag.pImage6" class="attachment-baumeister_mikado_square size-baumeister_mikado_square wp-post-image" alt="s" loading="lazy" sizes="(max-width: 550px) 100vw, 550px" />
                                </div>
                                <div class="mkd-pli-text-holder">
                                    <div class="mkd-pli-text-wrapper">
                                        <div class="mkd-pli-text">
                                            <h3 itemprop="name" class="mkd-pli-title entry-title">
                                                @ViewBag.pTitle6
                                            </h3>
                                            <div class="mkd-pli-category-holder">
                                                <a itemprop="url" class="mkd-pli-category" href="/Default/ProductDetail/@ViewBag.pId6">@ViewBag.pCategory6</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a itemprop="url" class="mkd-pli-link mkd-block-drag-link" href="/Default/ProductDetail/@ViewBag.pId6" target="_self"></a>
                            </div>
                        </article>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>